@using Microsoft.AspNetCore.Identity
@using Fugu.Models
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <div class="right menu">
        <div class="item">
            <a class="@ViewData.Eval("login") ui button">Iniciar Sesión</a>
        </div>
        <div class="item">
            <a class="@ViewData.Eval("signup") ui button">Registrate</a>
        </div>
    </div>
}
