@model Fugu.Models.FuguModels.Cookbook

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="ui vertical segment">
        <div class="ui container">
            <div  class="ui segment pilled main-segment">
                <div class="ui info message">
                    <i class="close icon"></i>
                    <div class="header">
                        Changes in Service
                    </div>
                    <ul class="list">
                        <li>Changes in Service
We just updated our privacy policy here to better service our customers. We recommend reviewing the changes.</li>
                    </ul>
                </div>

                <h2 class="ui header">
                    <i class="book icon"></i>
                    <div class="content">
                        Editar Recetario
                    </div>
                </h2>

                <div class="ui clearing divider">
                </div>

        <form class="ui form" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CookbookId" />
            <div class="field">
                    <label>Nombre</label>
                    <input asp-for="Name" placeholder="Ingrese el nombre del recetario" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
                <div class="field">
                        <input type="submit" value="Guardar" class="ui button primary" />
                    
                        <a class="ui button" asp-action="Index">Cancelar</a>
                </div>
        </form>

    <div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

                <p></p>
            </div>
        </div>
</div>


