@model Fugu.Models.FuguModels.Recipe

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ui vertical segment">
    <div class="ui container">
        <div class="ui segment pilled main-segment">
            <div class="ui red message">
                <i class="close icon"></i>
                <div class="header">
                    Advertencia
                </div>
                <ul class="list">
                    <li>Estas seguro que deseas borrar el registro?</li>
                </ul>
            </div>

            <h2 class="ui header">
                <i class="leanpub icon"></i>
                <div class="content">
                    Eliminar Receta   
                </div>
            </h2>

            <div class="ui clearing divider">
            </div>
            <h5 class="ui top attached header">
            @Html.DisplayNameFor(model => model.Description)
            </h5>
            <div class="ui attached segment">
                <p>
                    <i>@Html.DisplayFor(model => model.Description)</i>
</p>
            </div>
            <h5 class="ui top attached header">
            @Html.DisplayNameFor(model => model.CookbookId)
            </h5>
            <div class="ui attached segment">
                <p>
                    <i>@Html.DisplayFor(model => model.CookbookId)</i>
</p>
            </div>
            <form asp-action="Delete" class="ui bottom attached message">
                <input type="submit" class="ui button red" value="Borrar"/> 
                <a class="ui button" asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>

<div>
</div>

